<div class="container" id="mainContainer">
  <div class="row">
    <div class="col-md-2">
      <div id="title-img"></div>
    </div>
    <div class="col-md-10">
      <div class="title">Guang Yi Energe</div>
    </div>
  </div>
  <div class="row">
    <div>&nbsp;</div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Members</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="members">Members <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="roles">Roles</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" placeholder="Search" type="text">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-11">
      <div id="mainContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
