<div class="jumbotron">
	<button type="button" class="btn btn-success" (click)="selectUser(null, template)">ADD</button>
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-striped table-hover ">
				  <thead>
				    <tr>				     
						<th>UserId</th>
						<th>Role</th>
						<th>Username</th>
						<th>FirstName</th>
						<th>LastName</th>
						<th>Mobile</th>
						<th>Email</th>
						<th>DateOfBirth</th>
						<th>&nbsp;</th>
					</tr>
				  </thead>
				  <tbody>
				  	<tr *ngFor="let obj of this.memberList | async; let i = index;" (click)="selectUser(obj, template)">
				  		<td>{{obj.UserId}}</td>
						<td>{{obj.Role.Name}}</td>
						<td>{{obj.Username}}</td>
						<td>{{obj.FirstName}}</td>
						<td>{{obj.LastName}}</td>
						<td>{{obj.Mobile}}</td>
						<td>{{obj.Email}}</td>
						<td>{{obj.DateOfBirthStr}}</td>
						<td><button type="button" class="btn btn-danger" (click)="deleteUser(obj.UserId, $event)"><span class="glyphicon glyphicon-search"></span></button></td>
				  	</tr>
				  </tbody>
				</table> 
			</div>
		</div>
	</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">UserInfo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
		<app-user-info-panel #userPanel [user]="selectedUser" (onHide)='modal.hide()' (onSave)='modal.hide();loadMembers()'></app-user-info-panel>
      </fieldset>
      </form>
  </div>
</ng-template>