
<div class="form-group">
  <label for="UserId" class="col-lg-4 control-label">UserId</label>
  <div class="col-lg-8">
    <input class="form-control" id="UserId" placeholder="UserId" type="text" name="UserId" [(ngModel)]="editUser.UserId" readonly="true">
  </div>
</div>

<div class="form-group">
  <label for="RoleId" class="col-lg-4 control-label">Role</label>
  <div class="col-lg-8">
    <select class="form-control" [(ngModel)]="editUser.RoleId" id="RoleId" name="RoleId">
      <option *ngFor="let obj of roleList | async" [value]="obj.RoleId">{{obj.Name}}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="Username" class="col-lg-4 control-label">Username</label>
  <div class="col-lg-8">
    <input class="form-control" id="Username" placeholder="Username" type="text" name="Username" [(ngModel)]="editUser.Username" required minlength="5" maxlength="20" #Username="ngModel">
        <div *ngIf="Username.invalid && (Username.dirty || Username.touched)"
             class="alert alert-danger">

          <div *ngIf="Username.errors.required">
            Name is required.
          </div>
          <div *ngIf="Username.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="Username.errors.maxlength">
            Name must be less than characters long.
          </div>
        </div>
  </div>
</div>

<div class="form-group">
  <label for="FirstName" class="col-lg-4 control-label">FirstName</label>
  <div class="col-lg-8">
    <input class="form-control" id="FirstName" placeholder="FirstName" type="text" name="FirstName" [(ngModel)]="editUser.FirstName">
  </div>
</div>

<div class="form-group">
  <label for="LastName" class="col-lg-4 control-label">LastName</label>
  <div class="col-lg-8">
    <input class="form-control" id="LastName" placeholder="LastName" type="text" name="LastName" [(ngModel)]="editUser.LastName">
  </div>
</div>

<div class="form-group">
  <label for="Mobile" class="col-lg-4 control-label">Mobile</label>
  <div class="col-lg-8">
    <input class="form-control" id="Mobile" placeholder="Mobile" type="text" name="Mobile" [(ngModel)]="editUser.Mobile">
  </div>
</div>

<div class="form-group">
  <label for="Email" class="col-lg-4 control-label">Email</label>
  <div class="col-lg-8">
    <input class="form-control" id="Email" placeholder="Email" type="text" name="Email" [(ngModel)]="editUser.Email">
  </div>
</div>

<div class="form-group">
  <label for="DateOfBirth" class="col-lg-4 control-label">DateOfBirth</label>
  <div class="col-lg-8">
    <input class="form-control" id="DateOfBirth" placeholder="DateOfBirth" type="text" name="DateOfBirth" [(ngModel)]="editUser.DateOfBirthStr">
  </div>
</div>

<div class="form-group">
  <div class="col-lg-10 col-lg-offset-2">
    <button type="reset" class="btn btn-default" (click)="hide()">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="saveUser()" >Submit</button>
  </div>
</div>